   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <center>
      <div class="jumbotron">
        <h1>Bine ati venit! </h1>
        <table border="0"> 
        <tr>
            <td><p><a class="btn btn-lg btn-primary" href="/instructiuni" role="button">Instructiuni: »»»»»»»»</a></p></td>
            <td><p><a class="btn btn-lg btn-primary" href="/baza-admanev" role="button">Baza ev man: »»»»»»</a></p></td>
            <td><p><a class="btn btn-lg btn-primary" href="/sendemailadmin" role="button">Trimite mail: »»»»»»</a></p></td>
        </tr>
        <tr>
            <td><p><a class="btn btn-lg btn-primary" href="/utilizatori-add" role="button">Adauga-user: »»»»»»</a></p></td>
            <td><p><a class="btn btn-lg btn-primary" href="/utilizatori-admin" role="button">Arata-useri: »»»»»»»</a></p></td>
            <td><p><a class="btn btn-lg btn-primary" href="/baza-admimportusers" role="button">Import users: »»»»»»»</a></p></td>
        </tr>
        <tr>
            <td><p><a class="btn btn-lg btn-primary" href="/baza-manuale" role="button">Baza man: »»»»»»»</a></p></td>
            <td><p><a class="btn btn-lg btn-primary" href="/baza-admimportbazaman" role="button">Import baza-man: »»»</a></p></td>
        </tr>
        <tr>
            <td><p><a class="btn btn-lg btn-primary" href="/baza-fisusers" role="button">Rapoarte: »»»»»»»»</a></p></td>
            <td><p><a class="btn btn-lg btn-primary" href="/instructiuni" role="button"> »»»»»»»»»»»»»»»»»»</a></p></td>
        </tr>
        </table>
      </div>
      </center>
    <%- include footer %>