   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <center>
      <div class="jumbotron">
        <h1>Bine ati venit! </h1>
        <table border="0"> 
        <tr>
          <td><p><a class="btn btn-lg btn-primary" href="/profile" role="button">Profil:  »»»»»»»»»»»»»</a></p></td>
          <td><p><a class="btn btn-lg btn-primary" href="/select" role="button">Selectare: »»»»»»»»»»»»</a></p></td>
          <td><p><a class="btn btn-lg btn-primary" href="/baza-manev" role="button">Baza evaluare: »»»»»»»</a></p></td>
        </tr>
        <tr>
          <td><p><a class="btn btn-lg btn-primary" href="/incarcafisier" role="button">Incarca fisier:»»»»»»»</a></p></td>
          <td><p><a class="btn btn-lg btn-primary" href="/profile" role="button">nothing: »»»»»»»»»»»»»</a></p></td>
          <td><p><a class="btn btn-lg btn-primary" href="/instructiuni" role="button">Instructiuni: »»»»»»»»»»</a></p></td>
        </tr>
        </table>
      </div>
      </center>
    <%- include footer %>