   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <center>
      <div class="jumbotron">
        <h4>Instructiuni de utilizare </h4>
        <table border="0"> 
        <tr>
          <td>Instructiuni...</td>
          
          
        </tr>
        </table>
      </div>
      </center>
    <%- include footer %>